<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= roomName %>
  </title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <h1>Room: <span id="room-name">
      <%= roomName %>
    </span></h1>
  <div id="message-container">
    <% messages.forEach(message=> { %>
      <div>
        <%= message.username %>: <%= message.message %>
      </div>
      <% }) %>
  </div>
  <form id="send-container">
    <input type="text" id="message-input" placeholder="Type a message" required>
    <button type="submit">Send</button>
  </form>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/script.js"></script>
</body>

</html>